html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  order: 1;
  /* overflow: hidden; */
}
