html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#titleDiv {
  height: 4%;
  width: 100%;
  padding-left: 5px;
  display: flex;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

#filterDiv {
  height: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 93%;
  width: 100%;
  flex: 1 1 auto;
  order: 1;
  /* overflow: hidden; */
}

/* .esri-editor__update-features-action-buttons {
  visibility: hidden;
}
.esri-editor__update-features-action-buttons--button {
  visibility: hidden;
}

.esri-editor__panel-content_section {
  visibility: hidden !important;
}

#landing-panel__snappingButton {
  visibility: hidden;
}

.esri-editor__panel-toolbar {
  visibility: hidden;
}

.esri-editor__update-features-action-buttons {
  visibility: hidden;
}

.esri-widget__heading {
  visibility: hidden;
}

.esri-ui-bottom-right .esri-expand__content {
  right: 75% !important;
} */

/* Adjusting the Editor layout to hide unnecesary fields*/
div.esri-editor__scroller > div:first-child h5 {
  display: none;
}

div.esri-editor__panel-toolbar {
  display: none;
}

div.esri-item-list__filter-container--sticky {
  display: none;
}

div.esri-editor__update-features-action-buttons {
  display: none;
}

/* div.esri-editor__panel-content__section:first-of-type {
  display: none;
}

div.esri-editor__scroller.esri-editor__panel-content {
  display: flex;
} */
